# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# Database files
*.db
*.sqlite3

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# CSV files
*.csv